@charset "utf-8";

.inner { max-width: 1140px; margin: 0 auto;}

/* 헤더구역 시작 */
#header .inner { position: relative; 
    /* border: 1px solid red; */
}
#header h1 { padding: 30px 0;}
#nav { position: absolute; top: 40px; right: 0;
} 
#nav .depth1 > li { float: left; margin: 0px;
    padding: 10px 24px 30px; position: relative; z-index: 999;
}
#nav .depth1 > li > a { text-align: center;
   font-size: 16.5px; font-weight: 600;
 }
#nav .depth2 { position: absolute; top: 100%; left: 0; background-color: #fff;
    width: 100%; display: none;
    
}
#nav .depth1 > li:hover .depth2 { display: block;}
#nav .depth2 > li { text-align: center;}
#nav .depth2 > li > a { text-align: center; display: block; height: 50px;
    /* border: 1px solid blue; */
    line-height: 50px;
    font-size: 12.75px; 
} 
#header .membership { position: absolute; top: 0; right: 0; background-color: #777;
    width: 100%; text-align: right; padding:3px 200px 3px 0; color: #fff;
}
#header .membership a:first-child { padding-right: 20px;}
#header { position: relative;}
/* 헤더구역 끝 */

/* 메인구역 시작 */
#main .caption { background-image: url(../img/main_bg.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
#main .img1 { position:absolute; 
    left: 100px; bottom: 100px;  
}
#main .kim { position: relative;
    height: 100%; 
}
#main .kim .park { position: absolute;
    top: 40%; left: 0; width: 100%;
    transform: translate(0, -50%);
    text-align: center;
}
#main .kim h2 { font-size: 3.3em; 
    text-shadow: 0 1px 2px rgba(0, 0, 0,0.5);
    color: #fff; 
    text-align: center;
    position: relative;
    /* bottom: 130px; right: 25px; */
    padding-bottom: 20px;
} 
#main .kim h2::before { 
    content: '';
    width: 10%;
    height: 1px; 
    background: #fff;
    position: absolute;
    left: 45%; bottom: 0; 
}
#main .kim p { 
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}
#main .kim .view { display: inline-block;
    height: 88px; width: 88px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding-top: 21px;
}
#main .kim .view:hover { background-color: rgba(0, 0, 0, 0.5); border-style: none;}

#main .tag { background-color: #222; height: 50px;}
#main .tag h4 { color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
}
#main .tag h4 > span { color: #eea629; margin-left: 10px;}
#main .contect { background-image: url(../img/con_01_bg.jpg);
    padding: 100px 0;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: right center;   */
}
#main .contect .text { width: 60%; margin: 0; padding: 0;}
#main .contect h2 { font-size: 30px; color: #444;
    font-weight: 400;
 }
#main .contect h4 { font-size: 18px; color: #555; margin-top: 50px;}
#main .contect p { font-size: 15px; color: #666; margin: 10px 0;}
#main .contect .video { width: 500px; height: 281px; overflow: hidden; margin-top: 50px;}
#main .contect .video .sun { width: 100%;}

#main .container .breaking { float: left; width: 33.3333%;}
#main .container h3 { font-size: 24px; color: #444;
    padding-bottom: 20px; padding-top: 50px;
    position: relative;
}
#main .container h3::after { content: ''; height: 2px;
    width: 16%; background-color: #bbb; bottom: 0; left: 158px; position: absolute;
 }
#main .container p { font-size: 15px; color: #666; margin-top: 20px;}
#main .container a { font-size: 15px; color: #666; border:1px solid #bbb;
    border-radius: 30px; padding: 8px 30px; margin: 20px 0; display: inline-block;
}
#main .container a:hover { background-color: #a3bece;}
#main .container .poto { float: left; width: 33.3333%; overflow: hidden;}
#main .container .engaging { float: left; width: 33.3333%;}
#main .container { text-align: center; padding-top:60px;}

#main .grid { background-color:#00000033;
    text-align: center;
}
#main .grid h2 { font-size: 30px; color: #fff; padding-top: 90px;}
#main .grid p { font-size: 15px; color: #fff; margin: 20px 0;}
#main .grid a { font-size: 15px; color: #fff;
    border: 1px solid transparent; text-align: center;
    border-radius: 30px;
    margin: 30px 0;
    display: inline-block;
    background-color: rgba(101,171,126, 0.5);
    padding: 8px 30px;
}
#main .grid a:hover { background-color: rgba(101,171,126, 1);}
#main .meun { padding: 20px 0;}
#main .meun .inner > div { float: left; width: 32%;}
#main .marketing h4 { padding: 15px 0 ;font-size: 25px; }
#main .marketing div { float: left; width: 28%;
    border: 1px solid #000; text-align: center; display: block;
    padding: 20px ; display: block;
    margin: 20px 2% 10px 0 ;
    font-size: 40px;
}
#main .marketing p { float: right; width: 69%; padding: 10px 0;  font-size: 20px;}
#main .latest { position: relative; margin: 0 2%;}
#main .latest span { position: absolute; top:30px; right: 0;}
#main .latest h4 { border-bottom: 1px solid #000; padding: 20px 0; font-size: 25px;}
#main .latest ul > li { float: left; width: 33.3333%; padding: 20px 8px;
     overflow: hidden;
}
#main .latest ul > li img { border-radius: 10px;}
#main .notice .youtube {width: 100%; padding-top: 55%;
    position: relative;}
#main .notice .youtube iframe { position: absolute; top: 0; left: 20px;}
.pro { 
     position: fixed; top: 100px; right: 100px;
     animation: kim 1s infinite alternate ease-in-out; 
 }
 /* 푸터구역 */
 #footer { 
    background-color: #333;
    font-size: 12px; line-height: 18px;
    padding: 30px 0px; text-align: center;
    color: #ddd;
}
#footer .sns a { font-size: 14px; 
    display: inline-block; width: 32px; height: 32px;
    line-height: 32px; background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; 
    margin: 0 5px; transition: all 0.3s;
}
#footer .sns a:hover { background-color: rgba(255, 255, 255, 0.3);}
#footer address { font-style: normal;}
#footer .info { padding:20px 0px }
#footer .info span { padding:5px 20px; }
#footer .privacy > a,
#footer .privacy > span { 
    font-size: 11px; padding: 3px 10px;
    display: inline-block; border: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbb; transition: all 0.4s; 
}
#footer .privacy > a:hover,
#footer .privacy > span:hover { 
    background-color: #999;
    border: 1px solid #999;
    color: #fff;
}
#footer .fam ul {
    position:absolute;
    bottom:100%; left:0;
    width:100%; padding:5px;
    background:#fff;
    color:#000;
    display:none;
}
#footer .fam { position:relative; 
    cursor:pointer }

 @keyframes kim { 
     0% { transform: translateY(0px);}
     100% { transform: translateY(20px);}
 }



